@use "./reset.scss";

$md-breakpoint: 768px;
$lg-breakpoint: 1440px;

:root {
  // Colors
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --blue-200: hsl(243, 100%, 93%);
  --blue-600: hsl(228, 55%, 62%);
  --blue-850: hsl(228, 56%, 26%);
  --blue-900: hsl(224, 61%, 15%);
  --blue-950: hsl(229, 57%, 11%);

  // Gradients
  --gradient-1: linear-gradient(var(--blue-850), var(--blue-950));
  --gradient-2: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));

  // Spacing
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-700: 3.5rem;

  // Font size
  --font-sm: 0.875rem;
  --font-xs: 0.75rem;

  // Font family
  --font-fam: "Raleway", sans-serif;
}

body {
  font-family: var(--font-fam);
  font-optical-sizing: auto;
  min-height: 100dvh;
  background-color: var(--blue-950);
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center stretch;
  grid-template-columns:
    minmax(2rem, 1fr) [main-content-start] minmax(auto, 992px)
    [main-content-end] minmax(2rem, 1fr);
  @media screen and (min-width: $md-breakpoint) {
    background-image: url("../images//bg-desktop.png");
    background-size: 100% 50%;
    background-position: bottom center;
  }
}

main {
  grid-column: main-content;
}

.fylo-upper-section,
.fylo-bottom-section {
  background-color: var(--blue-850);
}
